@page "/"
@inject HttpClient Http

@using System.Runtime.Serialization;
@using System.Threading.Tasks;
@using System;

<h3>EAD CA3</h3>


@if (data == null)
{
    <p><em>Loading Data...</em></p>
}
else
{
    <div>
        <label for="searchTerm">Search</label>
        <input id="searchTerm" @bind="searchTerm" />
        <br />
    </div>
    <div>
        <button @onclick="Lookup">Search</button>
    </div>
    <br />

    @if (found)
    {
        <div>
            Snippet: @data.snippet.title
        </div>
        <div>
            Snippet: @data.snippet.channelTitle
        </div>
        <div>
            Snippet: @data.snippet.publishTime
        </div>
        <div>
            Snippet: @data.snippet.thumbnails
        </div>
    }


}
@errorMess


@code {

    
    private String searchTerm = "The Witcher";
    private bool found;
    private Root data;
    private string errorMess;


    private async Task getVideoAsync()
    {

        try
        {
            string uri = "https://youtube.googleapis.com/youtube/v3/search?part=snippet&q=" + searchTerm + "&key=AIzaSyB6kayqfbP0h1nlWYj33Q-Q5ddZI6KoeSA";
            data = await Http.GetFromJsonAsync<Root>(uri);
            found = true;
            errorMess = string.Empty;
        }
        catch (Exception e)
        {
            found = false;
            errorMess = e.Message;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await getVideoAsync();
    }

    public async void Lookup()
    {
        await getVideoAsync();
        //StateHasChanged();
    }






    public class PageInfo
    {
        public int totalResults { get; set; }
        public int resultsPerPage { get; set; }
    }

    public class Id
    {
        public string kind { get; set; }
        public string videoId { get; set; }
    }

    public class Default
    {
        public string url { get; set; }
        public int width { get; set; }
        public int height { get; set; }
    }

    public class Medium
    {
        public string url { get; set; }
        public int width { get; set; }
        public int height { get; set; }
    }

    public class High
    {
        public string url { get; set; }
        public int width { get; set; }
        public int height { get; set; }
    }

    public class Thumbnails
    {
        public Default @default { get; set; }
        public Medium medium { get; set; }
        public High high { get; set; }
    }

    public class Snippet
    {
        public DateTime publishedAt { get; set; }
        public string channelId { get; set; }
        public string title { get; set; }
        public string description { get; set; }
        public Thumbnails thumbnails { get; set; }
        public string channelTitle { get; set; }
        public string liveBroadcastContent { get; set; }
        public DateTime publishTime { get; set; }
    }

    public class Item
    {
        public string kind { get; set; }
        public string etag { get; set; }
        public Id id { get; set; }
        public Snippet snippet { get; set; }
    }

    public class Root
    {
        public string kind { get; set; }
        public string etag { get; set; }
        public string nextPageToken { get; set; }
        public string regionCode { get; set; }
        public PageInfo pageInfo { get; set; }
        public List<Item> items { get; set; }
        public Snippet snippet { get; set; }
    }
}

